<header id="header" ng-controller="headerCtrl">

  <section class="social-media-links">

    <div class="social-interior">

      <div class="tabs">

        <h2><a href="#FIXME">Blog</a></h2>
        <h2><a href="#FIXME">Our Story</a></h2>
        <h2 class="active"><a href="#FIXME">Social Media Feed</a></h2>

      </div>

      <ul class="social-icons">
        <li><a href="#FIXME"><i class="icon-facebook"></i></a></li>
        <li><a href="#FIXME"><i class="icon-twitter"></i></a></li>
        <li><a href="#FIXME"><i class="icon-linkedin"></i></a></li>
        <li><a href="#FIXME"><i class="icon-gplus"></i></a></li>
        <li><a href="#FIXME"><i class="icon-youtube"></i></a></li>
        <li><a href="#FIXME"><i class="icon-vimeo"></i></a></li>
        <li><a href="#FIXME"><i class="icon-flickr"></i></a></li>
        <li><a href="#FIXME"><i class="icon-pinterest"></i></a></li>
        <li><a href="#FIXME"><i class="icon-rss"></i></a></li>
      </ul>

    </div>

  </section>

  <div class="main">

    <h1 class="logo"><a href="{{ baseurl }}/">Ideum</a></h1>

    <nav>
      <button ng-click="toggleMenu()">Menu</button>

      <ul>
        <li><a href="#FIXME">Creative Services</a></li>
        <li class="active"><a href="#FIXME">Multitouch Tables</a></li>
        <li><a href="#FIXME">Touch Walls</a></li>
        <li><a href="#FIXME">Contact</a></li>
      </ul>
    </nav>

  </div>

</header>

<nav id="mobile-slideout-menu" ideum-mobile-slideout-menu ng-show="open">
  <header>
    <h1>Menu</h1>
    <button class="close" ng-click="close()">&times;</button>
  </header>

  <ul>
    <li><a href="#FIXME">Creative Services</a></li>
    <li><a href="#FIXME">Multitouch Tables</a></li>
    <li><a href="#FIXME">Touch Walls</a></li>
    <li><a href="#FIXME">Our Story</a></li>
    <li><a href="#FIXME">Blog</a></li>
    <li><a href="#FIXME">Social Media Feed</a></li>
    <li><a href="#FIXME">Contact</a></li>
  </ul>
</nav>
