<header id="header">
  <section class="social-media-links">
    <h2>Social Media Feed</h2>

    <ul>
      <li><a href="#FIXME"><i class="social-icon facebook"></i></a></li>
      <li><a href="#FIXME"><i class="social-icon twitter"></i></a></li>
      <li><a href="#FIXME"><i class="social-icon linkedin"></i></a></li>
      <li><a href="#FIXME"><i class="social-icon googleplus"></i></a></li>
      <li><a href="#FIXME"><i class="social-icon youtube"></i></a></li>
      <li><a href="#FIXME"><i class="social-icon vimeo"></i></a></li>
      <li><a href="#FIXME"><i class="social-icon flickr"></i></a></li>
      <li><a href="#FIXME"><i class="social-icon pinterest"></i></a></li>
      <li><a href="#FIXME"><i class="social-icon rss"></i></a></li>
    </ul>
  </section>

  <div class="main">
    <h1 class="logo"><a href="{{ baseurl }}/">Ideum</a></h1>

    <nav>
      <ul>
        <li><a href="#FIXME">Creative Services</a></li>
        <li><a href="#FIXME">Multitouch Tables</a></li>
        <li><a href="#FIXME">Touch Walls</a></li>
        <li><a href="#FIXME">Our Story</a></li>
        <li><a href="#FIXME">Blog</a></li>
        <li><a href="#FIXME">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
