<header id="header">
  <section class="social-media-links">
    <h2>Social Media Feed</h2>

    <ul>
      <li><a class="icon icon-facebook-circle" href="#FIXME">Facebook</a></li>
      <li><a class="icon icon-twitter-circle" href="#FIXME">Twitter</a></li>
      <li><a class="icon icon-linkedin-circle" href="#FIXME">LinkedIn</a></li>
      <li><a class="icon icon-google-plus-circle" href="#FIXME">Google+</a></li>
      <li><a class="icon icon-youtube-circle" href="#FIXME">YouTube</a></li>
      <li><a class="icon icon-vimeo-circle" href="#FIXME">Vimeo</a></li>
      <li><a class="icon icon-flickr-circle" href="#FIXME">Flickr</a></li>
      <li><a class="icon icon-pinterest-circle" href="#FIXME">Pinterest</a></li>
      <li><a class="icon icon-rss-circle" href="#FIXME">RSS</a></li>
    </ul>
  </section>

  <div class="main">
    <h1 class="logo"><a href="{{ baseurl }}/">Ideum</a></h1>

    <nav>
      <ul>
        <li><a href="#FIXME">Creative Services</a></li>
        <li><a href="#FIXME">Multitouch Tables</a></li>
        <li><a href="#FIXME">Touch Walls</a></li>
        <li><a href="#FIXME">Our Story</a></li>
        <li><a href="#FIXME">Blog</a></li>
        <li><a href="#FIXME">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
