<section id="pseudo-header" class="home #FIXME">

  <div id="page-intro-outer">
    <!-- #FIXME - need way to abstract hard-coded content and make dynamic -->
    
    <div id="page-intro-inner">

        <h1>
            <a href="">Visit Indy 3D <br>Interactive Exhibit</a>
        </h1>

        <h2>
            Discover attraction in Indianapolis through a multitouch 3D model of the city.
        </h2>

        <footer class="footer">
          <a class="read" href="#FIXME">View Project</a>
          <a class="share" href="#FIXME">Share This</a>
        </footer>

    </div>

  </div>

  <div class="phone-only mobile-pseudo-header">

    {% image home-pseudo-header-bg-phone.jpg %}

  </div>

</section>