#content {
  border-radius: $base-border-radius;
  overflow:hidden;
  padding:rem(30) 0 0 0;
  position: relative; // Force a new z-index stacking context
  z-index: 100;

  .chat { @include banner('patterns/hex.svg') }

  .section-info {
    margin:0 auto;
    width: 61%;
  }
}
