$footer-background-color: $dark-gray;
$footer-font-color: $white;

#footer {
  .chat { @include banner('patterns/hex.svg') }

  .main {
    background-color: $footer-background-color;
    color: $footer-font-color;

    nav {
      @include navi-effect($footer-font-color);
      @include pad;

      li {
        display: inline-block;
        padding-right: 1rem;
      }

      a {
        color: $footer-font-color;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
      }
    }

    .newsletter-signup {
      @include pad;

      label {
        color: $footer-font-color;
        font-weight: bold;
        text-transform: uppercase;
      }

      input {
        background: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid $footer-font-color;
        @include placeholder {
          font-style: italic;
          color: $footer-font-color;
        }
      }
    }

    @include media($large-screen-up) {
      @include display(flex);
      @include align-items(center);

      nav, .newsletter-signup {
        @include flex(1);
      }
    }
  }
}
