$footer-background-color: $dark-gray;
$footer-font-color: $white;

#footer {
  .chat {

    background: $light-gray image-url('patterns/hex.svg') no-repeat center center;
    text-align: center;

    a {
      display: inline-block;
      font-size: 2.5rem;
      font-weight: 300;
      background: $white;
      color: $dark-gray;
      margin: 1.5rem;
      padding: 0.5rem 2rem;
    }
  }

  .main {
    background-color: $footer-background-color;
    color: $footer-font-color;

    nav {
      @include pad;

      li {
        display: inline-block;
        padding-right: 1rem;
      }

      a {
        color: $footer-font-color;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .newsletter-signup {
      @include pad;

      label {
        color: $footer-font-color;
        font-weight: bold;
        text-transform: uppercase;
      }

      input {
        background: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid $footer-font-color;
        @include placeholder {
          font-style: italic;
          color: $footer-font-color;
        }
      }
    }

    @include media($large-screen-up) {
      @include display(flex);
      @include align-items(center);

      nav, .newsletter-signup {
        @include flex(1);
      }
    }
  }
}
