$header-social-bar-height: rem(43);
$header-main-bar-height: rem(117);

#header {
  background-color: $content-background-color;

  .social-media-links {
    display: none;
    @include media($medium-screen-up) {
      display: block;
    }

    @include fill-parent;
    @include clearfix;

    border-bottom: 1px solid $vv-light-gray;

    h2, ul {
      //height: $header-social-bar-height;
      height:auto;
      line-height: $header-social-bar-height;
      vertical-align: middle;
    }

    h2 {
      border-right:1px solid $vv-light-gray;
      color: $white;
      float: left;
      font-size: rem(14);
      font-weight: $bold;
      text-align: center;
      text-transform: uppercase;
      @include span-columns(3, block-collapse); 
      &:first-of-type {
        border-left:1px solid $vv-light-gray;
        @include shift(1.9);
      }  
      a {
        color: $medium-light-gray;
        &:hover {
          color: $very-dark-gray;
        }
      } 
      &.active {
        a{
          color: $very-dark-gray;
          &:hover {
            color: $dark-gray;
          }
        }
      }  
    }

    .social-icons-wrap {
      @include span-columns(6, block-collapse);
      text-align: center;
    }
    .tab-wrap {
      align-items: stretch;
      display: flex !important;
      @include span-columns(6, block-collapse);
    }

    li {
      display: inline-block;
      padding-right: 1em;
      a {
        display: inline-block;
        @include size(24px 24px);
        border-radius: 12px;
        line-height: 24px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        background: $light-gray;
        color: $white;
        &:hover {
          background-color: $very-dark-gray;
        }
      }
    }
    .social-interior {
      @include outer-container;
    }
  }

  .main {
    height: $header-main-bar-height;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include outer-container;
  }

  .logo {
    @include flex(1);
  }

  nav {
    @include flex(2);
    @include shift(-.4);
  }

  .logo {
    @include shift(1);

    a {
      display: inline-block;
      @include hide-text;
      &:before { height: 120%; } // 100% isn't enough to mask all the risers
      background: image-url("logo.png") no-repeat center center;
      @include size(129px 50px);
    }
  }

  nav {
    @include navi-effect($very-dark-gray);
    @include span-columns(6, block-collapse);
    text-align: center;

    ul {
      display:inline-block;
      li {
        display: inline-block;
        margin-right: 2em;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          a {
            color: $very-dark-gray;
          }
        }
      }
    }

    a {
      text-transform: uppercase;
      color: $navlink-off-gray;
      font-weight: bold;
      position: relative;
      &:hover {
        color: $very-dark-gray;
      }
    }
  }
}
