.our-creative-services {
  .slider {
    height: 375px;
  }

  article.slide {
    position: relative;

    * { color: $vv-light-gray; }

    img {
      height: auto;
      min-height: 100%;
      min-width: 100%;
      width: auto;
    }

    .content {
      @include position(absolute, 0 0 0 0);
      @include pad;
      text-align: center;
    }
  }
}
