// Typography
$sans-serif: 'Roboto', $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 14px;
$em-base: $base-font-size;
$unitless-line-height: 1.5;
$base-line-height: $base-font-size * $unitless-line-height;
$header-line-height: $base-font-size * 1.25;
$base-border-radius: rem(3);

// Colors
// FIXME
$black: #000;
$dark-gray: #3E4857;
$medium-gray: #7E7E7E;
$light-gray: #D7D7D7;
$white: #FFF;
$blue: #5677FC;

// Background Color
$base-background-color: $white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: rem(1280);

// Neat Breakpoints
// FIXME
$medium-screen: rem(640);
$large-screen: rem(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);
