%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  border: 3px solid $inactive-button-color;
  border-radius: $base-border-radius;
  color: $inactive-button-color;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: $bold;
  line-height: 1;
  padding: .75em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  @include transition(background-color 0.5s ease, color 0.5s ease);

  &:hover {
    background-color: $inactive-button-color;
    color: $base-background-color;
    &.pointer:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 1000;
      border-top: 16px solid $inactive-button-color;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      margin-left: -16px;
      @include transition(background-color 0.5s ease, color 0.5s ease);
    }
  }
  &.active {
    background-color: $base-button-color;
    border-color: $base-button-color;
    color: $base-background-color;
    &.pointer:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 1000;
      border-top: 16px solid $base-button-color;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      margin-left: -16px;
      @include transition(background-color 0.5s ease, color 0.5s ease);
    }
  }
  &.active:hover {
    background-color: $base-button-color;
    color: $base-background-color;
  }
}
